@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7udb3');
  src:  url('fonts/icomoon.eot?7udb3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7udb3') format('truetype'),
    url('fonts/icomoon.woff?7udb3') format('woff'),
    url('fonts/icomoon.svg?7udb3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-left:before {
  content: "\e921";
}
.icon-machine:before {
  content: "\e91e";
}
.icon-augmented:before {
  content: "\e91f";
}
.icon-artificial:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e91d";
}
.icon-quote2:before {
  content: "\e91c";
}
.icon-arrow-right2:before {
  content: "\e918";
}
.icon-arrow-left2:before {
  content: "\e919";
}
.icon-close-2:before {
  content: "\e91a";
}
.icon-chat-2:before {
  content: "\e91b";
}
.icon-software-product:before {
  content: "\e915";
}
.icon-outsourcing:before {
  content: "\e916";
}
.icon-custom-software:before {
  content: "\e917";
}
.icon-star-of-life:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e913";
}
.icon-calendar-days:before {
  content: "\e912";
}
.icon-send:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-sidebar:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90d";
}
.icon-quote:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-X:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-mega-menu:before {
  content: "\e903";
}
.icon-magnifying-glass:before {
  content: "\e904";
}
.icon-location-dot:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-fb:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e922";
}
.icon-angle-down:before {
  content: "\e90b";
}
